{% extends "base.html.twig" %}
{% block title %}Page Test{% endblock %}
{% block body %}
{% if test %}
<h1>Bienvenue sur la page Test !</h1>
{% else %}
<h1>Le booléen est set à False !</h1>
{% endif %}
{% endblock %}